@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');
:root{
	font-family: 'Public Sans', sans-serif;
	size: 10px;
	font-size: 10px;
	--red: #FF0000;
	--arrow: url(../img/arrow.png); 
	
}
body{
	background-color: #E5E5E5;
	color: #171717;
	margin: 0;
	padding: 0;
}
.conteiner{
	background-color: #F9F9F9;
	max-width: 1000px;
	min-width: 700px;
	margin: 0 auto 10rem;
	padding-left: 4.3rem;
	box-sizing: border-box;	
}
h1{
	font-weight: 700;
	font-size: 2.4rem;
	margin: 6.4rem auto 7.9rem .5rem;
	padding-top: 6.4rem;
}
.instruction{
	font-weight: 400;
	font-size: 1.4rem;
}
span{
	color: var(--red);
}
h2{
	font-weight: 700;
	font-size: 2rem;
}
.form{
	display: flex;
	justify-content: space-around;
}
label{
	font-weight: 500;
	font-size: 1.6rem;
	text-align: left;
}
p{
	margin-bottom: 2.5rem;
}
select{
	background-color: white;
	border-color: #ADADAD;
	border-radius: .4rem;
	width: 90%;
	height: 4rem;
	font-weight: 500;
	font-size: 1.6rem;
	margin-top: 0.8rem; 
}
input{
	width: 90%;
	height: 4rem;
	background-color: white;
	border-color: #ADADAD;
	border-radius: .4rem;
	border-width: .1rem;
	font-weight: 500;
	font-size: 1.6rem;
	margin-top: 0.8rem;
}
.block{
	width: 50%;
	padding-right: 3rem;
}
.left-block span{
	color: var(--red);
}
.left-block option{
	font-weight: 500;
	font-size: 1.6rem;
}
.registration{
	color: #0050D8;
	font-weight: 400;
	font-size: 1.6rem;
	background-image: url(../img/arrow.png);
	background-position-x: 99%;
	background-position-y: center;
	background-repeat: no-repeat;
}
.add-info{
	color: #171717;
	font-weight: 400;
	font-size: 1.6rem;
	background-image: url(../img/calendar.png);
	background-position-x: 99%;
	background-position-y: center;
	background-repeat: no-repeat;
}
.checkbox-form{
	width: 2rem;
	height: 2rem;
	font-weight: 400;
	font-size: 1.6rem;
	accent-color: #FF00FF;
}
.checkbox{
	display: flex;
	align-items: center;
	justify-content: left;
}
.date{
	background-color:#EFEFEF;
	color: #747474;
	font-weight: 400;
	font-size: 1.6rem;
}
.submission-date{
	color: #171717;
	font-weight: 400;
	font-size: 1.6rem;
	background-image: url(../img/calendar.png);
	background-position-x: 99%;
	background-position-y: center;
	background-repeat: no-repeat;
	margin-bottom: 11.5rem;
}
.exempt{
	margin-top: 4.8rem;
}
.enrollment{
	font-weight: 400;
	font-size: 1.6rem;
	background-image: url(../img/arrow.png);
	background-position-x: 99%;
	background-position-y: center;
	background-repeat: no-repeat;
}
hr{
	color: #D1D1D1;
	margin-right: 7rem; margin-bottom: 4rem;	
}
.assigned-county{
	font-weight: 400;
	font-size: 1.6rem;
	color: #747474;
	background-image: url(../img/arrow.png);
	background-position-x: 99%;
	background-position-y: center;
	background-repeat: no-repeat;
}
.number{
	font-weight: 400;
	font-size: 1.6rem;
	color: #747474;
	background-image: url(../img/glass.png);
	background-position-x: 99%;
	background-position-y: center;
	background-repeat: no-repeat;
}
.search-input{
	font-weight: 400;
	font-size: 1.6rem;
	color:#171717;
	background-image: url(../img/glass.png);
	background-position-x: 99%;
	background-position-y: center;
	background-repeat: no-repeat;
}
.owner{
	font-weight: 400;
	font-size: 1.6rem;
	color: #0050D8;
	background-image: url(../img/glass.png);
	background-position-x: 99%;
	background-position-y: center;
	background-repeat: no-repeat;
}
.next{
	display: flex;
	justify-content: right;
    width: 92%;
	padding-bottom: 9rem;
}
.next input{
	font-weight: 700;
	font-size: 1.6rem;position: inherit;
    width: 6.9rem;
    height: 4rem;
    color: white;
    background-color: #0050D8;
}